:root{
    --bg-thema-1: #7e8aa2;
    --bg-thema-2: #d6dae2;
    --bg-thema-3: #ffff;
    --bg-thema-outline: #535c6e;
    --bg-thema-botao:#68738a;

    /* mudar a paleta de cores */
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
   background-color: var(--bg-thema-2); 
}
.btn-buscar{
    background: var(--bg-thema-1);
    border: 1px solid var(--bg-thema-botao);
}
.btn-reserve{
    background-color: var(--bg-thema-1);
    border: 1px solid var(--bg-thema-botao);
}


/* MAIN */

.sobre{
    /* background-image: url(../img/hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    /* opacity: 0.7; */
    width: 100%;
}
.tema{
    background-color: var(--bg-thema-1);
}
.voltar,
.fa-circle-chevron-left{
    color: var(--bg-thema-2);
}
.fa-brands{
    color: #fff;
}


.erro{
    display: none;
    color: var(--bg-thema-3);
    background-color: red;
    border-radius: 0 5px 5px;
}

/* >>>> EFEITOS <<<< */


/* EFEITO BOTAO */
.btn-buscar:hover{
    background-color: var(--bg-thema-botao);
    color: var(--bg-thema-3);
    outline: 1px solid var(--bg-thema-outline);
}
.btn-reserve:hover{
    background-color: var(--bg-thema-botao);
    color: var(--bg-thema-3);
    outline: 1px solid var(--bg-thema-outline);
}
/* --------------------- */

/* EFEITO NOS CARDS */
.texto{
    opacity: 0;
    transition: opacity .2s linear;
}
.card:hover .texto{
    opacity: 1;
}
.card:hover .imagem{
    opacity: 0.5;
}
/* ----------------- */

/* REDES SOCIAIS */
.fa-brands:hover{
    scale: 1.5;
}
.fa-youtube:hover{
    color:#c4302b;
}
.fa-twitter:hover{
    color:#00ACEE ;
}
.text:hover{
    background: linear-gradient(45deg, #fed373 20%,
    #f15245,
    #d92e7f,
    #515ecf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-facebook:hover{
    color: #3B5998;
}
/* ----------------- */

